.container::-webkit-scrollbar {
    display: none;
    background-color: aquamarine;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/*a:link {
    background-color: red;
}*/

/* visited link */
/*a:visited {
    background-color: green;
}*/

/* mouse over link */
a:hover {
    background-color: darkblue;
}

/* selected link */
/*
a:active {
    background-color: yellow;
}
 */
