.container::-webkit-scrollbar {
    display: none;
    background-color: aquamarine;
}
body{
    overflow: auto;
background-color: #f2f2f2;
}
li a {
    display: block;
    color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    border-bottom: 4px solid red;

}
